<%= form_with(model: @property, local: true) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f.label :rent %>
<%= f.text_field :rent %><p>円</p><br>

<%= f.label :age %>
<%= f.text_field :age %><p>year/years old</p><br>

<%= f.label :address %>
<%= f.text_field :address %><br>

<%= f.label :remarks %>
<%= f.text_field :remarks %><br>

<%= f.submit yield(:button_name) %>
<% end %>

<%= link_to 'Back', :back %>