<h1>Property details</h1>

<h4>Property: </h4><p><%= @property.name %></p>
<h4>Rent: </h4><p><%= @property.rent %></p>
<h4>Address: </h4><p><%= @property.address %></p>
<h4>Ages: </h4><p><%= @property.age %></p>
<h4>Remarks: </h4><p><%= @property.remarks %></p>